RewriteEngine on
RewriteRule ^dashboard$ index.php
RewriteRule ^presence$ presence.php
RewriteRule ^profil$ profil.php
RewriteRule ^tache$ tache.php
RewriteRule ^demande$ demande.php
RewriteRule ^doc$ doc.php
RewriteRule ^offre$ offre.php
RewriteRule ^cand$ candidature.php
RewriteRule ^suivie$ suivie.php
RewriteRule ^conge$ conge.php
RewriteRule ^view$ view.php
RewriteRule ^membres$ membres.php
RewriteRule ^historique$ historique.php
RewriteRule ^historiquegeneral$ historiquegeneral.php